body{
    background-color: #fcbf49;
}
button{
    margin: 10px 1px;
    background-color: #d62828; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 18%;
}
button:active{
    opacity: 70%;  
}
.delete-btn, .allclear-btn{
    width: 79%;
}
.num-btn{
    background-color: #f77f00;
    width: 25%;
}
#zero{
    width: 79%;
}
.display{
    margin: 20px auto;
    direction: rtl;
    width: 90%;
    height: 1em;
    font-size: 2.5em;
    border-radius: 0%;
    background-color: white;
    border: 1px solid grey;
}
#btn-group{
    width: 100%;
}

#calc-body{
    width: 300px;
    height: 400px;
    border: 1px solid #eae2b7;
    border-radius: 1%;
    padding: 10px;
    background-color: #003049;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#calc-body button{
   
}

